@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;600;800&family=Raleway:wght@300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: #F4F5FF;
}
.timeline-cover{
  width: 100%;
  min-height: 20px;
  padding: 30px  10px;
  position: relative;
}
.timeline-line{
  width: 1px;
  height: 800px;
  background: #C4C4C4;
  /* background: green; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
  
}
.timeline-row{
  width: 100%;
  min-height: 500px;
  /* background: green; */
  background: transparent;
  position: relative;
  /* display: none; */
 

}
.timeline-box{
  width: 40%;
  min-height: 200px;
  /* background: #fff; */
  /* position: absolute; */
  box-shadow: 1px 1.5px 2px 0px #D1D1D1,
                   -1px -1px 2px 1px #fff;
  border-radius: 7px;    
  padding: 20px;
  /* display: inline-block; */
  z-index: 500;
}
.one{
  margin-left: 5%;
  top: 0;
}
.two{
 bottom: 0;
 float: right;
 margin-right: 5%;
 
}
.title span{
  display: block;
  transform: translateY(10px)
}
.one .title span{
  text-align: right;
}
.two .title span{
  text-align: left;
}
.title span{
  font-size: 15px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #F641FF;
  font-weight: 600;
}/*
.one button::before{
  position: absolute;
  width: 1px;
  height: 28px;
  background:#C4C4C4 ;
  content: "";
  transform: rotate(90deg);
  /* top: -20px; */
  /* left: -42px; 
  left: -39%;
}
.two button::after{
  position: absolute;
  width: 1px;
  height: 28px;
  background:#C4C4C4 ;
  content: "";
  transform: rotate(90deg);
  /* top: -20px; */
  /* left: -42px; 
  right: -39%;
}*/
 button{
  width: 40px;
  height:40px;
  border-radius: 50%;
  border:none;
  outline: none;
  background: #F4F5FF;
  border: 1px solid #C4C4C4;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.timeline-box .proffession{
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
}
.one .proffession{
  text-align: right;
  margin-top: 18px;
}
.one .proffession-address{
  margin-top: 10px;
  text-align: right;
  font-size: 12px;
  font-style: italic;
  color: #777;
}
.one .proffession-description{
  margin-top: 12px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  color: #777;
  font-size:13px;
}
.two .proffession{
  text-align: left;
  margin-top: 18px;
}
.two .proffession-address{
  margin-top: 12px;
  text-align: left;
  font-size: 15px;
  font-style: italic;
  color: #777;
}
.two .proffession-description{
  margin-top: 12px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  color: #777;
  font-size:13px;
}
